html,body{
	width:100%;
}
*{
	margin:0;
	text-decoration:none;
	font-family:'Raleway', sans-serif;
}
body{
	background:#C0C0C0;
}
.c{clear: both;}
header{
	width: 100%;
	height: 200px;
	position:fixed;
	background:#708090;
	top:0;
}
section{display: block;height: 300px;}
.logo{
	display: block;
	width:200px;
	height:250px;
	border:7px solid #708090;
	border-radius:100%;
	float: left;
}
.logo img{
	width:200px;
	height:250px;
	border-radius:100%;
}
.title{
	display: block;
	width: 600px;
	margin-top: 100px;
	padding: 0 0 0 20px;
	float: left;
}
.title h3{
	font-family: 'Dosis';
	font-size: 36px;
	font-weight: 100;
	text-transform: uppercase;
	color: #C0C0C0;
	letter-spacing: 3px;
	margin: 20px 10px 10px 10px;
}
.title h5{
	font-size: 14px;
	font-weight: normal;
	color: #C0C0C0;
	letter-spacing: 3px;
	margin: 10px 10px 10px 10px;
}
.container{
	display: block;
	width: 100%;
	min-height: 700px;
	margin: 270px 0 0 0;
}
section{
	width: 80%;
	height: 400px;
	text-align: center;
	margin: 20px 10%;
}
.home{ width :100%;margin: auto; }
section h3{
	font-size: 24px;
	color:#2F4F4F;
	margin: 50px 0px 30px 0px;
}
section p{
	font-size: 20px;
	color: #666;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin: 5px;
	padding: 5px;
}
.menu{
	display: block;
	padding-top: 50px;
	width: 810px;
	height: 300px;
	margin: auto;
}
.box{
	width:250px;
	height: 200px;
	margin: 10px;
	background: #778899;
	float: left;
}
.contact p{
	display: block;
	margin: 10px;
	width:100px;
	height:100px;
	background:#000;
	float: left;
}
.list-contact{
	display:block;
	padding-top: 100px;
	height: 100px;
	width: 910px;
	margin: auto;
}
footer{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #000;
}
footer p{
	padding-top: 10px;
	text-align: center;
	letter-spacing: 1px;
	color: #C0C0C0;
}